```<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" id="destination6">
  <div class="container">
      <h1 class="display-3" style = "color: white"><%= @place %></h1>
      <p style = "color: white">Famous for its diverse landscapes, elegant architecture and the tango, <%= @location %> awaits you. 
            </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>International Volunteer HQ</h2>
        <p>Volunteer with International Volunteer HQ and choose from a wide range of volunteer opportunities available, including teaching english, childcare, animal care and a unique sustainable agriculture project.</p>
        <p><a class="btn btn-secondary" href="/trips/<%= @location %>" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Volunteering on a coffee farm</h2>
        <p> Love coffee? Want to learn about the coffee making process in the morning and plant coffee trees in the afternoon? Join fellow volunteers soon para una taza de cafe.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Rainforest field assistant</h2>
        <p> Our frogs need your help. The bacterial fungus chytrid is decimating amphibian populations everywhere. In this two week excursion, you will work with top scientists to crack the pathogenic DNA code. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->